.container {
    position: fixed; /* Change from absolute to fixed if you want it fixed at the top */
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: rgb(5, 5, 5);
    border-bottom: 1px solid #191717;
    z-index: 1000; /* Adjust the value based on your layout */
    transition: box-shadow 0.3s ease; 
  }
  
.scrolled{
  box-shadow:-5px 5px  19px -5px rgba(0,0,0,0.8);
  -webkit-box-shadow:-5px 5px  19px -5px rgba(0,0,0,0.8);
  -moz-box-shadow:-5px 5px  19px -5px rgba (0,0,0,0.8)ck;



}


.wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left */
.left {
  flex: 2;
}

.title {
  text-decoration: none;
  color: rgb(232, 231, 234);
  font-weight: bold;
  font-size: 32px;
 
 
}

/* center */
.center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin: 0;

}

.listItem {
  font-size: 18px;
  color: #e9e0e0;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms all;
}

.listItem:hover {
  color: #aa653d;
}

.listItem > a {
  text-decoration: none;
  color: inherit;
}

/* right */
.right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cartContainer {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.userIcon{
    font-size: 28px;
  cursor: pointer;
  background-color: #e9e0e0;
  display: inline-block;
  border-radius: 50%;
  margin-left: 30px;
}


.cartIcon {
  font-size: 28px;
  cursor: pointer;
  background-color: #e9e0e0;
  display: inline-block;
  border-radius: 50%;
}

.cartQuantity {
  position: absolute;
  width: 16px;
  height: 15px;
  background-color: #f00;
  color: #fff;
  bottom: 1.25rem;
  left: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
}

.logout {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin-left: 1rem;
  cursor: pointer;
  background-color: #e9e0e0;
  display: inline-block;
  border-radius: 10%;
}
.logos{
    width: 50px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-right: 20px;
   
}


